@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iran;
  src: url(../font/Iran.ttf);
}

@font-face {
  font-family: vazir;
  src: url(../font/Vazir.ttf);
}

body {
  font-family: vazir;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}